# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule AIcrowd.Evaluations.Api.Auth do
  @moduledoc """
  API calls for all endpoints tagged `Auth`.
  """

  alias AIcrowd.Evaluations.Connection
  import AIcrowd.Evaluations.RequestBuilder


  @doc """
  Logout a user

  ## Parameters

  - connection (AIcrowd.Evaluations.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :x_fields (String.t): An optional fields mask

  ## Returns

  {:ok, %AIcrowd.Evaluations.Model.AuthLogout{}} on success
  {:error, info} on failure
  """
  @spec post_logout_api(Tesla.Env.client, keyword()) :: {:ok, AIcrowd.Evaluations.Model.AuthLogout.t} | {:error, Tesla.Env.t}
  def post_logout_api(connection, opts \\ []) do
    optional_params = %{
      :"X-Fields" => :headers
    }
    %{}
    |> method(:post)
    |> url("/auth/logout")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%AIcrowd.Evaluations.Model.AuthLogout{})
  end

  @doc """
  User login

  ## Parameters

  - connection (AIcrowd.Evaluations.Connection): Connection to server
  - payload (Login): 
  - opts (KeywordList): [optional] Optional parameters
    - :x_fields (String.t): An optional fields mask

  ## Returns

  {:ok, %AIcrowd.Evaluations.Model.AuthResponse{}} on success
  {:error, info} on failure
  """
  @spec post_user_login(Tesla.Env.client, AIcrowd.Evaluations.Model.Login.t, keyword()) :: {:ok, AIcrowd.Evaluations.Model.AuthResponse.t} | {:error, Tesla.Env.t}
  def post_user_login(connection, payload, opts \\ []) do
    optional_params = %{
      :"X-Fields" => :headers
    }
    %{}
    |> method(:post)
    |> url("/auth/login")
    |> add_param(:body, :"payload", payload)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%AIcrowd.Evaluations.Model.AuthResponse{})
  end
end
