# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule EvaluationsAPI.Api.Auth do
  @moduledoc """
  API calls for all endpoints tagged `Auth`.
  """

  alias EvaluationsAPI.Connection
  import EvaluationsAPI.RequestBuilder


  @doc """

  ## Parameters

  - connection (EvaluationsAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %{}} on success
  {:error, info} on failure
  """
  @spec logout_a_user(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def logout_a_user(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/auth/logout")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """

  ## Parameters

  - connection (EvaluationsAPI.Connection): Connection to server
  - payload (Login): 
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %{}} on success
  {:error, info} on failure
  """
  @spec user_login(Tesla.Env.client, EvaluationsAPI.Model.Login.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def user_login(connection, payload, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/auth/login")
    |> add_param(:body, :"payload", payload)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end
end
